selenium~=4.17.2
Pillow
pickle5
os-sys
requests~=2.31.0
python-time
bs4~=0.0.2
telethon~=1.34.0
lxml
configparser~=6.0.0
nest-asyncio
pytz~=2024.1
webdriver_manager
psutil~=5.9.8
beautifulsoup4~=4.12.3
dotmap~=1.3.30